:root {
    --color-bright-red: hsl(12, 88%, 59%);
    --color-dark-blue: hsl(228, 39%, 23%);

    --color-grayish-blue: hsl(227, 12%, 61%);
    --color-very-dark-blue: hsl(233, 12%, 13%);
    --color-very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);

    --padding-button: 15px 30px;


}

body {
    background: url(../images/bg-tablet-pattern.svg);
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
}



section {
    padding: 0 7%;
}



.getStarted-button {
    background-color: var(--color-bright-red);
    border: none;
    border-radius: 20px;
    color: var(--very-light-gray);
    cursor: pointer;
    font-weight: 700;
    padding: var(--padding-button);
}

.getStarted-button:hover, .getStarted-button:focus{
    opacity: 0.8;
}

@media screen and (min-width:0) {
    body {
        background-size: contain;
        background-position-x: right;
    }

    .simplify {
        background-color: var(--color-bright-red);
        background-image: url(../images/bg-simplify-section-mobile.svg);
    }
}

@media screen and (min-width:768px) {
    body {
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: auto;
    }

    .simplify {
        background-image: url(../images/bg-simplify-section-desktop.svg);
    }
}