:root{
    --color-bright-red: hsl(12, 88%, 59%);
    --color-dark-blue: hsl(228, 39%, 23%);

    --color-grayish-blue:hsl(227, 12%, 61%);
    --color-very-dark-blue: hsl(233,12%,13%);
    --color-very-pale-red: hsl(13,100%,96%);
    --very-light-gray: hsl(0,0%,98%);

    
}

body{
    font-family: "Be Vietnam Pro", sans-serif;
}


main{
    background: url(../images/bg-tablet-pattern.svg);
}

section{
    padding: 0 10%;
}

@media screen and (min-width:0) {
    .simplify{
        background-color: var(--color-bright-red);
        background-image: url(../images/bg-simplify-section-mobile.svg);
    }
}
@media screen and (min-width:768px) {
    .simplify{
        background-image: url(../images/bg-simplify-section-desktop.svg);
    }
}