:root {
    --color-bright-red: hsl(12, 88%, 59%);
    --color-dark-blue: hsl(228, 39%, 23%);

    --color-grayish-blue: hsl(227, 12%, 61%);
    --color-very-dark-blue: hsl(233, 12%, 13%);
    --color-very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);

    --input-color:  hsl(233, 12%, 13%);
    --placeholder-color: hsl(227, 12%, 61%);

    --padding-button: 15px 30px;

}

body {
    background: url(../images/bg-tablet-pattern.svg); 
    background-repeat: no-repeat;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    background-position: top -101px right -16px;
    background-size: 615px 672px;
}



.section-padding{
    padding: 0 7%;
}


/* BOTÃO */
.getStarted-button {
    background-color: var(--color-bright-red);
    border: none;
    border-radius: 20px;
    box-shadow:0px 8px 4px 0px var(--color-very-pale-red);
    color: var(--very-light-gray);
    cursor: pointer;
    font-weight: 700;
    padding: var(--padding-button);
}

.getStarted-button:hover, .getStarted-button:focus{
    opacity: 0.8;
}


