.depoimentos {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.depoimentos button {
    margin: 30px auto 15% auto;
}

.depoimentos__titulo {
    color: var(--color-dark-blue);
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;

}

.depoimentos__card {
    background-color: var(--very-light-gray);
    /* flex: 1; */
    /* max-width: 300px; */
    margin: 4% 15px ;
    /* min-width: 580px; */
    /* padding: 25px; */
    position: relative;
    text-align: center;
    width: 506px;
}

.depoimentos__card-foto {
    border-radius: 50%;
    height: 80px;
    left: 50%;
    /*Alinha horizontalmente*/
    margin-bottom: 15px;
    object-fit: cover;
    position: absolute;
    transform: translateX(-50%);
    /*Alinha horizontalmente*/
    top: -40px;
    /* Move a imagem para fora do card */
    width: 80px;
}

.depoimentos__card figcaption {
    color: var(--color-very-dark-blue);
    margin-top: 60px;

}

.depoimentos__card p {
    color: var(--color-grayish-blue);
    margin: 25px;
}

/* SLIDES */

.slider{
    margin: 0 auto;
    overflow: hidden;
    width: 1300px; /*do exemplo era 800*/
    display: flex;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}


@media screen and (max-width:465px) {
    .depoimentos__card{
        width: 390px;
    }
    .slider{
        width: 400px;
    }
    .manual-navigation{
        position: absolute;
        width: 400px;
        margin-top: 310px; 
        display: flex;
        justify-content: center;
    }

    .manual-btn{
        border: 2px solid var(--color-bright-red);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

  
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -25.50%;
    }
    #radio3:checked ~ .first{
        margin-left: -51.5%;
    }
    #radio4:checked ~ .first{
        margin-left: -77.75%;
    }
    
}

.navigation-auto div{
    border: 2px solid var(--color-bright-red);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 310px; 
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color-bright-red);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color-bright-red);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color-bright-red);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--color-bright-red);
}


/* Ocultar indicadores em telas maiores */
/* @media (min-width: 426px) {
    .dot {
        display: none;
    }
} */