.header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.menu {
    display: flex;
}

.menu-faketrigger,
.menu-lines {
    display: none;
    /* Oculta o botão de sanduíche em telas grandes */
}

.navigation__list {
    background-color: transparent;
    color: var(--color-dark-blue);
    display: flex;
    font-weight: 500;
    gap: 20px;
    padding: 0;
}



.navigation__item:hover {
    color: var(--color-grayish-blue);
}



/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    .header {
        align-items: flex-start;
        position: relative;
    }

    .navigation__list {
        align-items: center;
        background-color: #fff;
        display: none;
        /* Só irá aparecer quando estiver check o menu-faketrigger*/
        flex-direction: column;
        padding: 20px;
        position: fixed;
        right: 20px;
        transition: all ease .2s;
        /*transição*/
        top: 75px;
        width: 90%;
        z-index: 998;

    }



    .header .getStarted-button {
        display: none;
        /* O botão get-started não aparecerá */
    }

    /* HAMBURGER************************************ */
    .menu .menu-faketrigger {
        cursor: pointer;
        display: block;
        height: 35px;
        /*mesma altura do hamburger*/
        opacity: 0;
        /*Para não aparecer e deixar quem está atrás (hamburger) visível*/
        position: absolute;
        width: 35px;
        z-index: 1000;
        /*fica acima de todos*/

    }

    /*vai aplicar no checkbok e  em seus irmaos (seleciona todos os elementos diretos) */

    /* HAMBURGER */
    .menu .menu-lines {
        display: block;
        height: 35px;
        position: absolute;
        width: 35px;
        z-index: 999;
    }

    /* 3 linhas */
    .menu .menu-lines span {
        background-color: var(--color-dark-blue);
        border-radius: 3px;
        display: block;
        height: 5px;
        margin-bottom: 10px;
        width: 35px;
        transition: all ease .2s;
        /*tempo para a transição*/

    }

    /* Transformando as 3 linhas em X *******************/


    /* linha 1 */
    .menu .menu-faketrigger:checked~.menu-lines span:nth-child(1) {
        transform-origin: 0 0%;
        /*A parte de esquerda fica parada e a direita desce com a rotacao*/
        transform: rotate(45deg) scaleX(1.25);
        /* scale para deixar do mesmo tamanho   */
    }

    /* linha 2 */
    .menu .menu-faketrigger:checked~.menu-lines span:nth-child(2) {
        opacity: 0;
    }

    /* linha 3 */
    .menu .menu-faketrigger:checked~.menu-lines span:nth-child(3) {
        transform-origin: 0 100%;
        /*A parte de esquerda fica parada e a direita sobe com a rotacao*/
        transform: rotate(-45deg) scaleX(1.25);
    }

    .menu .menu-faketrigger:checked~.navigation__list {
        display: flex;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5);
        /* Cor escura translúcida */
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        opacity: 0;
        /* Invisível inicialmente */
        pointer-events: none;
        /* Não clicável */
        transition: opacity 0.2s ease;
        /* Transição suave */
        z-index: 997;
        /* Abaixo do menu */
    }

    /* Exibir overlay quando o menu estiver aberto */
    .menu-faketrigger:checked~.overlay {
        opacity: 1;
        /* Torna o overlay visível */
        pointer-events: all;
        /* Ativa interação */
    }


}