.home{
    align-items: center;
    display: flex;
    gap: 50px;
    margin-top: 7%;
}
.home__chamada{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.home__titulo{
    color: var(--color-dark-blue);
    font-size: 60px;
}

.home__paragrafo{
    color: var(--color-grayish-blue);
    padding-right: 30px;
    line-height: 1.8;
    text-align: justify;
    width: 70%;
}

@media screen and (max-width:768px) {
    .home{
        flex-direction: column;
    }

    .home__chamada{
        align-items: center;
        gap: 20px;
    }

    .home__imagens{
        order: -1;
    }

    .home figure img{
        width: 80%;
    }

    .home__titulo{
        font-size: 32px;
        text-align: center;
    }

    .home__paragrafo{
        padding: 0;
        text-align: justify;
        text-indent: 4px;
        width: 90%;
    }
    

}
